# checkout text file with platform-native line breaks
# (LF on unix, CRLF on windows)
* text=auto
*.sqm filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.paa filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
